<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" type="image/icon" href="/site/assets/images/favicon.ico"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/site/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/site/assets/css/slick.css" rel="stylesheet">
    <link id="switcher" href="/site/assets/css/theme-color/default-theme.css" rel="stylesheet">
    <link href="/site/assets/style.css" rel="stylesheet">
    <link href="/site/assets/custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
</head>
<body >

    {{>siteheader}}

        {{{body}}}  

    {{>sitefooter}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/site/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/site/assets/js/slick.min.js"></script>
    <script type="text/javascript" src="/site/assets/js/counter.js"></script>
    <script type="text/javascript" src="/site/assets/js/app.js"></script>
    <script type="text/javascript" src="/site/assets/js/custom.js"></script>
</body>
</html> 